.bg-default-image {
  background-image: url("/images/default.jpg");
  background-size: 100%;
  height: 150px;
  text-shadow: 2px 2px 8px #333;
}

.logo {
  text-shadow: 2px 2px navy;
}

.active {
  background-color: navy;
}

.pointer {
  cursor: pointer;
}
